/*http://pierre-giraud.com/html-css/exercices-html-css/creation-menu-simple-html-css.php*/
/* http://fr.learnlayout.com/position.html 7/19 pour les position relatives et absolue et fixe*/


/*---------------------------header---------------------------------*/
/*---------------------------header--------------------------------*/

header
{
	display: flex;/* met en ligne les block*/
	justify-content: space-between;
	width:1100px;
	height: 70px;
	padding-bottom: 30px;
	font-family: 'Roboto-Medium', sans-serif;
	font-size: 18px;
	letter-spacing: 120;
	margin-left: auto!important;
	margin-right: auto!important;
	list-style-type: none;
	text-decoration: none;
	color: #003A49;
	align-items: baseline;
}

header a
{
	text-decoration: none;
	color: #003A49;
}



#menu_de_navigation a
{
	margin-right: 30px;
}

#menu_de_navigation a:hover
{
	border-bottom: solid #F14928 1px;
	padding-bottom: 5px;
	color: #F14928;
}


#logo
{
	float: left;
}

#icones

{
	float: right;
}

/*
#menus
{
=======
{
	float: right;
}

/*
#menus
{

	display: flex;
	flex-wrap: nowrap;
	width: 100%;
	justify-content: space-between;
}

ul
{
	display: flex;
}

#menu li
{
	list-style-type: none;
	margin-right: 45px;
}

#menu
{
	margin-top: 40px;
	padding-left: 50px;
}

#header a
{
	text-decoration: none;
	color: #003A49;
}

a
{
	text-decoration: none;
}

#icones li
{
	list-style-type: none;
}

#icones
{
	margin-top: 40px;
}*/
/*-------------------------------------home--------------------------------------------*/
a
{
	text-decoration: none;
}



#icones ul
{
	float: right;
}

.icones
{
	border-right: 1px solid #003A49;
	margin-left: 5px;
	padding-right: 7px;
	width: 20px;
	height: 20px;
}

/*#slider
{
	display: flex;
	overflow: hidden;
	width: 100%;
}
*/
#middle
{
	display: flex;
	justify-content: space-around;
	width:100%;
	/*height: 175px;
	padding-top: 65px;*/
}

body
{
	margin: 0px;
}

/*--------------trois images et les hover--------------------*/


#img_left #img_middle #img_right
{
	height: 175px;
}

#img_left
{
	width: 330px;
	max-height: 175px;
	height: 175px;
	background-image: url(images/img-race.jpg);
	background-size: cover;

}

#middle_hover_left
{
	visibility: hidden;
	position: relative;
	left: 25px;
	top: -122.5px;
	width: 280px;
	height: 140px;
	background-color: white;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.ico_hover
{

	display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

button
{
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15px;
    width:125px;
    height:30px;
    border: 3px solid #F24725;
}

a button 
{
	color: #F24725;
	font-weight: medium;
	font-family: 'Roboto', sans-serif;
	font-size: 1.1em;
	background-color: #FFF;
}

a button:hover 
{
	cursor: pointer;
	background-color: #F24725;
	color: #FFF;
	transition: all 0.3s ease-in-out;
}

a button:not(:hover) 
{
	cursor: pointer;
	background-color: #FFF;
	color: #F24725;
	transition: all 0.3s ease-in-out;
}

#img_left:hover #middle_hover_left/* agir sur le 2em element a partir du premier*/
{
	visibility: visible;
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
}
#img_left:not(:hover) #middle_hover_left/* agir sur le 2em element a partir du premier*/
{
	visibility: visible;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

#img_middle
{
	width: 330px;
	max-height: 175px;
	height: 175px;
	background-image: url(http://lokahiboards.com/fr/wp-content/uploads/sites/10/2015/08/img-wave1.jpg);
	background-size: cover;

}

#middle_hover_middle
{
	visibility: hidden;
	position: relative;
	left: 25px;
	top: -122.5px;
	width: 280px;
	height: 140px;
	background-color: white;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

#img_middle:hover #middle_hover_middle/* agir sur le 2em element a partir du premier*/
{
	visibility: visible;
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
}
#img_middle:not(:hover) #middle_hover_middle/* agir sur le 2em element a partir du premier*/
{
	visibility: visible;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

#img_right
{
	justify-content: center;
	width: 330px;
	max-height: 175px;
	height: 175px;
	background-image: url(http://lokahiboards.com/fr/wp-content/uploads/sites/10/2015/08/img-discover.jpg);
	background-size: cover;
}

#middle_hover_right
{
	visibility: hidden;
	position: relative;
	left: 25px;
	top: -122.5px;
	width: 280px;
	height: 140px;
	background-color: white;
	opacity: 0;
}

#img_right:hover #middle_hover_right/* agir sur le 2em element a partir du premier*/
{
	visibility: visible;
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
}
#img_right:not(:hover) #middle_hover_right/* agir sur le 2em element a partir du premier*/
{
	visibility: visible;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.ico_middle
{
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px; 
}
/*--------------trois images et les hover--------------------*/

/*------------------------------footer------------------------------*/




footer h5
{
	color: #003A49;
	font-family: 'Roboto-Medium', sans-serif;
	margin-bottom: 10px;
}

footer
{
	
	margin-top: 30px;
	color: #003A49/*bleu*/;
	border-top: 2px solid  #C7c7C7;
	font-family: 'Roboto-Medium',sans-serif;
	display: flex;
	justify-content: space-around;

	justify-content: space-between;

	margin-left: 250px;
	margin-right: 230px;
	/*width: 1000px;*/
}

footer ul 
{
	display: list-item;/* pour garder la liste en colonne*/
	padding-left: 0px;/* pour aligner la liste avec le titre*/
	margin-top: 0px;
	list-style-type: none;
}

footer input
{
	background-color: #F4F4F4;
	border: 0px;
	text-align: center;
}

footer button
{
	display: flex;
	margin-right: 20px;
	
	margin-top: 20px;
	background-color: #003A48;
	border: 0px;
	font-family: 'Roboto-Medium', sans-serif;
	color:#FFF;
	width: 100%;
}

footer img
{
	margin-top: 22.1833px;
	width: 17px;
	height: 17px;
}

#contact

{
	display: flex;
}

#pages
{
	display: flex;
	justify-content: space-around;
}

div[alt="up"]

{
	display: flex;
	height:45px ;
	width: 45px;
	position: fixed;
	bottom: 50px;
	right: 50px;
	opacity: 0.6;
	background-color: #b2b2b2;
	transform: rotate(90deg);
	align-items: center;
	justify-content: center;
	border-radius: 5px;
}


#up
{
	color: #dfdfdf;
	font-stretch: ultra-condensed;
	font-size: 45px;
	/*transition: all 500ms ease;*/
}

a[href="#logo"]:active/*test de transition pour le scroll up*/
{
	transition: all 1000ms ease;
}
#pages
{
	display: flex;
	justify-content: space-around;
}
/*#contact span 
{
	padding-right: 10px;
}*/


/*#contact span 
{
	padding-right: 10px;
}*/
/*----------------------------------------footer------------------------------------------------------*/
/*-------------------------------------pages philosophy____________________________________________*/

#corp_philo
{
	margin-left: 190px;
	margin-top: 0px;
}

#philosophy_bandeau
{
	width: 100%;
	height: 140px;
	background-image: url(http://lokahiboards.com/fr/wp-content/uploads/sites/10/2015/08/bg-header-philosophie.jpg);
	background-position: top;
	top: 0px;
	margin: 0px;
	padding: 0px;
	color: #FFF;
	display: flex;
	margin-bottom: 35px;
	margin-top: 25px;
}

.grand_titre
{
margin: auto;
align-items: center;
letter-spacing: 0.25em;
}

.AB
{
	border-bottom: solid #F14928 1px;
	padding-bottom: 5px;
	color: #003A48;
}

#philosophy
{
	color: #003A48;
	font-family: 'Roboto-Medium', sans-serif;
	letter-spacing: 120;
}

#passion
{
	color: #F14928 !important;
	font-size: 24px;
	margin-top: 70px;
	z-index: 0;
	letter-spacing: 0.12em;
	font-family: 'Roboto', 24pt;
	font-style: italic;
}

.after
{
	color:#F24725 !important;
	padding-right: 10px;
}

img[title="img-philosophie1"]
{
	height: 295px;
	width: 490px;
	position: relative;
	top: -160px;
	left: 170px;
	z-index: -1;
}


img[title="img-philosophie2"]
{
	position: relative;	
	top: 50px;
	left: -500px;
	z-index: -2;
	height: 295px;
	width: 485px;
}

#paragraphe_philo
{
	height:256px; 
	width:480px;
	position: relative;
	top: -133px;
	left: 728px;
}

.video-content-bg-video
{
align-items: center;
margin: auto;
}

/*-----------------------------------basket----------------------------*/

#basket
{
	position: fixed;
	right: 0px;
	width: 350px;
	height: 100%;
	z-index: 100;
	border: 3px solid blue;
	visibility: hidden;
}

:target
{
	visibility: visible;
}

#fond_basket
{
	background-color: black;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	transition: opacity 2s ease-in-out;
	border: 3px solid red;
	display: flex;
	justify-content: center;
	align-items: center;
}

#page_basket
{
	
	width: 70%;
	height: 50%;
	position: relative;
	opacity: 1 !important;
	
	background-color: white;
}

/*-------------------------------------riders--------------------------*/

#riders_bandeau
{
	width: 100%;
	height: 140px;
	background-image: url(http://lokahiboards.com/fr/wp-content/uploads/sites/10/2015/08/bg-header-riders.jpg);
	background-position: top;
	top: 0px;
	margin: 0px;
	padding: 0px;
	color: #FFF;
	display: flex;
	margin-bottom: 35px;
	margin-top: 25px;
}






/*--------------------------------------général------------------------*/
